 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('images/7fb08d32aeb996dd43ba6b630daedb8d.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 897px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 857px;
  margin: 50px auto -10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 10px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 381px;
  --radius: 10px;
  margin: 28px 19px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: -381px 276px 0 30px;
}

.u-section-1 .u-text-3 {
  margin: -4px 30px 0;
}

.u-section-1 .u-group-2 {
  width: 510px;
  min-height: 272px;
  height: auto;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-1 .u-group-1 {
    min-height: 874px;
    margin-top: 49px;
    margin-bottom: -17px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 380px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -380px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -3px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-1 .u-group-1 {
    min-height: 862px;
    margin-bottom: -14px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: -11px;
    min-height: 823px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-image-1 {
    height: 381px;
    margin-top: 30px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -381px;
    margin-right: 270px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-1 .u-group-2 {
    width: 480px;
    min-height: 220px;
    margin-top: 22px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: -35px;
    min-height: 1253px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 310px;
    margin-top: 354px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -705px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 403px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
    min-height: 342px;
    margin-top: 8px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 15px;
  }
}